


#content{
    max-width: 1600px;
    margin: 0 auto;
}

body{
    background-color: #F5E3E0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;

}

header{
    background-color:#81B29A;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

#logo{
    width: 80px;
    padding-top: 5px;
}


nav a{
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 35px;
}

nav a:hover{
    background-color:#2D3142;
    text-decoration: underline;
    color: white;
}

#hero-img{
    width: 100%;
}

#hero-msg h1{
    text-align: center;
}

.home-title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    font-size: 2em;
    margin-top: 10px;
}


#hero-msg h4{
    text-align: center;
}

h4{
    color:black;
}


.button-box{
    text-align: center;
}

.book{
    background-color:#A1674A;
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover{
    background-color: #2D3142;
    color: white;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

main section{
    text-align: center;

}
main section img {
    box-sizing: border-box;
}

#background{
    height: 725px;
    background-color: #A1674A;
}

.msg{
    background-color: #81B29A;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2{
    color: black;
}

.msg p{
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}

.join{
    background-color: #A1674A;
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join:hover{
    background-color: #2D3142; 
    color: white
}

footer{
    background-color: #2D3142;
    padding: 25px 50px;
    margin-top: 200px;
}

footer h3{
    color: white;
    text-decoration: underline;
}

footer .social img{
    padding-top: 15px;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: #A1674A
}

h2{
    margin: 0;
}

.rivers-card{
      margin: 200px 0;
}
 .camping-card{
       margin: 200px 0;
 }
.rapids-card{
        margin: 200px 0;
} 

.card-img{
    border: 10px #000;
}