#content{
    max-width: 1600px;
    margin: 0 auto;
}

body{
    background-color: #F5E3E0;
}

header{
    background-color:#81B29A;
}

.logo{
    width: 80px;
}


nav a{
    text-align: center;
    text-decoration: none;
    color: black;
}

nav a:hover{
    background-color:#2D3142;
    text-decoration: underline;
    color: white;
}

#hero-img{
    width: 100%;
}

#hero-msg h1{
    text-align: center;
}

.home-title{
    color:black;
}


#hero-msg h4{
    text-align: center;
}

h4{
    color:black;
}


.button-box{
    text-align: center;
}

.book{
    background-color:#A1674A;
    text-decoration: none;
    color: black;
}

.book:hover{
    background-color: #2D3142;
    color: white;
}

.icon{
    width: 80px;
}

main section{
    text-align: center;
}

#background{
    height: 725px;
    background-color: #A1674A;
}

.msg{
    background-color: #81B29A;
}

.msg h2{
    color: black;
}

.msg p{
    color: black
}

.join{
    background-color: #A1674A;
    text-decoration: none;
    color: black;
}

.join:hover{
    background-color: #2D3142; 
    color: white
}

footer{
    background-color: #2D3142;
}

footer h3{
    color: white;
    text-decoration: underline;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: #A1674A
}